
body{
    margin-left: 5%;
    margin-right: 5%;
    background-color: #daddfc6e;
}
header{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #396EB0;
}
header>div{
    display: flex;
}
header>div>img{
    height: 50px;
    width: auto;
    margin-top: 10px;
    margin-left: 5px;

}
header>div>h1{
    font-size: 50px;
    margin: 0;
    margin-left: 10px;
    font-family: 'Hurricane', cursive;
}
header>form{
    margin-top: 15px;
    margin-right: 30%;
}
.searchBar{
    width: 300px;
    height: 30px;
    font-size: 14pt;
    border-radius: 20px;
    text-align: center;
}
.searchButton{
    width: 100px;
    height: 30px;
    margin-left: 20px;
    font-size: 15pt;
    border-radius: 20px;
    background-color: #2E4C6D;
    color: aliceblue;
}

.products{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.productCard{
    background-color: #DADDFC;
    border: 2px solid #2E4C6D;
    width: 15%;
    padding: 10px;
    margin:20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    float: left;
    
}
.productCard:hover{
    background-color: aquamarine;
}
.productCard>img{
    margin-top: 15px;
    width:100%;
    height:30% ;
    object-fit: cover;
    border-bottom-left-radius:60px ;
    border-top-right-radius:60px ;
}
.productCard>img:hover{
    height: auto;
}
nav{
    height: 70px;
    margin-bottom: 20px;
    background-color: #FC997C;
}
.navMenu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 0;

}
.navMenu li{
    margin:0 1%;
    padding: 10px;
    border:2px solid #2E4C6D;
    margin-top: 10px;
    background-color: #d6b773;
    width: 120px;
    text-align: center;
  
}

.navMenu li:hover{
    background-color: #d6b77357;
}
.navMenu a{
    text-decoration: none;
    color: #2E4C6D;
    font-weight: bold;
    font-size: larger;
    
}